langchain
langchain_community
langchain_pinecone
sentence-transformers
ctransformers
python-dotenv
pinecone-client
pypdf
ipykernel
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
